.barometer {
  h2 {
    font-size: 28px;
    margin-bottom: 12px;
  }

  p {
    font-size: 18px;
  }

  .day-details {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.pop-change-cell {
  display: flex;
  flex-direction: row;
}
