{
  "rules": {
    "indent": 0,
    "quotes": [2, "single"],
    "react/display-name": 0,
    "react/forbid-component-props": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] }],
    "react/jsx-handler-names": 0,
    "react/jsx-indent": [1, 2],
    "react/jsx-indent-props": [1, 2],
    "react/jsx-max-props-per-line": [1, { "maximum": 3, "when": "multiline" }],
    "react/jsx-no-literals": 0,
    "react/jsx-sort-props": 0,
    "react/no-multi-comp": 0,
    "react/no-set-state": 0,
    "react/prop-types": 0,
    "linebreak-style": [2, "unix"],
    "semi": [2, "always"],
    "comma-dangle": [2, "only-multiline"],
    "no-console": 0,
    "no-global-assign": 0,
    "no-unused-vars": [1, { "vars": "all", "args": "none", "argsIgnorePattern": "^_.*$" }],
    "no-multiple-empty-lines": [2, { "max": 1 }],
    "prefer-const": [
      "error",
      {
        "destructuring": "any",
        "ignoreReadBeforeAssign": false
      }
    ]
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:react-hooks/recommended"],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "ecmaVersion": 2017
  },
  "plugins": ["react", "jsx-a11y", "prettier"],
  "globals": {
    "process": true,
    "ga": true
  }
}
