html {
  height: 100%;
}

body {
  background-color: #16161d;
  margin: 0;
  height: 100%;
}

#root {
  font-display: optional;
  font-family: 'PT Sans', sans-serif;
  padding: 0px 20px 15px 10px;
}

h1,
h2,
h3,
h4 {
  color: #e3e3e3 !important;
}

a {
  color: #f39 !important;
}

a:visited {
  color: #891751 !important;
}

.bp3-button-group.bp3-vertical.bp3-fixed {
  margin-top: 6px !important;
}

.bp3-button-group.bp3-vertical.bp3-fixed button span {
  margin-top: -2px !important;
  margin-left: -8px !important;
}
