html {
  height: 100%;
}

body {
  background-color: #16161d;
  margin: 0;
  height: 100%;
}

#root {
  font-family: 'IBM Plex Sans', sans-serif;
  padding: 0px 20px 15px 15px;
}

h1,
h2,
h3,
h4 {
  color: #e3e3e3 !important;
}

a {
  color: #ff3399 !important;
}

a:visited {
  color: #891751 !important;
}

.pt-button-group.pt-vertical.pt-fixed {
  margin-top: 6px !important;
}
